$header-back: rgba(0, 0, 0, 0.4);
$white-textcolor: #f2f2f2;
$black-textcolor: #000000;
$gery-textcolor: #333333;
$mainbutton-background: rgba(17, 17, 17, 0.6);
$button-background: #000000;
$yellow: #faff09;
$text: #0e0e0e;

@font-face {
  font-family: "RobotoR", sans-serif;
  src: url(./fonts/regular/Roboto-Regular.eot),
    url(./fonts/regular/Roboto-Regular.ttf),
    url(./fonts/regular/Roboto-Regular.woff),
    url(./fonts/regular/Roboto-Regular.woff2);
}

@font-face {
  font-family: "RobotoL", sans-serif;
  src: url(./fonts/light/Roboto-Light.eot), url(./fonts/light/Roboto-Light.ttf),
    url(./fonts/light/Roboto-Light.woff), url(./fonts/light/Roboto-Light.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
}

.main {
  background-image: url(./images/backgroundhead.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 45px;

  &__header {
    background-color: $header-back;
    display: flex;
    align-items: center;
    position: relative;
    padding: {
      top: 38px;
      bottom: 38px;
      left: 100px;
      right: 100px;
    }
    &--open {
      width: 36px;
      height: 32px;
    }

    &--call {
      position: absolute;
      right: 100px;
      width: 29px;
      height: 29px;
    }
  }

  &__logo {
    position: relative;

    img {
      position: absolute;
      top: -52px;
      left: 45%;
    }
  }

  &__btnlinks {
    margin-top: 348px;

    h1 {
      font: {
        family: "Roboto";
        style: normal;
        weight: 300;
        size: 80px;
      }
      color: $white-textcolor;
      line-height: 94px;
      text-align: center;
      margin-bottom: 193px;
    }

    &--a {
      display: flex;
      justify-content: center;
      gap: 50px;
    }
    a {
      background-color: $mainbutton-background;
      border: 1px solid #c4c4c4;
      text-decoration: none;
      font: {
        family: "Roboto";
        style: normal;
        weight: 300;
        size: 24px;
      }
      color: $white-textcolor;
      line-height: 28px;
      text-align: center;
      padding: {
        top: 25px;
        bottom: 25px;
        left: 5%;
        right: 5%;
      }
    }
    .firsta {
      padding: {
        left: 10%;
        right: 10%;
      }
    }

    &--img {
      margin: {
        top: 151px;
        left: 50%;
        bottom: 53px;
      }
    }
  }
}

.text {
  width: 95%;
  margin: 0 auto;
  display: flex;
  background-color: $white-textcolor;
  margin-bottom: 92px;
  padding: 37px 91px 20px 108px;

  &__container {
    margin-right: 20px;
    h2 {
      font: {
        family: "Roboto";
        style: normal;
        weight: 400;
        size: 64px;
      }
      line-height: 75px;
      color: $text;
    }

    &--line2 {
      display: flex;
      gap: 7px;
      margin-top: 7px;
    }
    .square {
      width: 20px;
      height: 20px;
      background-color: $text;
    }

    h3 {
      font: {
        family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
      }
      line-height: 33px;
      color: $text;
      margin-bottom: 16px;
    }

    p {
      margin-left: 27px;
      margin-bottom: 42px;
      width: 90%;
      font: {
        family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
      }
      line-height: 21px;
      color: $text;
    }
  }
}
