@font-face {
  font-family: "Roboto", sans-serif;
  src: url(./fonts/regular/Roboto-Regular.eot), url(./fonts/regular/Roboto-Regular.ttf), url(./fonts/regular/Roboto-Regular.woff), url(./fonts/regular/Roboto-Regular.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
}

.main {
  background-image: url(./images/backgroundhead.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 45px;
}
.main__header {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 38px;
  padding-bottom: 38px;
  padding-left: 100px;
  padding-right: 100px;
}
.main__header--open {
  width: 36px;
  height: 32px;
}
.main__header--call {
  position: absolute;
  right: 100px;
  width: 29px;
  height: 29px;
}
.main__logo {
  position: relative;
}
.main__logo img {
  position: absolute;
  top: -52px;
  left: 45%;
}
.main__btnlinks {
  margin-top: 348px;
}
.main__btnlinks h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  color: #f2f2f2;
  line-height: 94px;
  text-align: center;
  margin-bottom: 193px;
}
.main__btnlinks--a {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.main__btnlinks a {
  background-color: rgba(17, 17, 17, 0.6);
  border: 1px solid #c4c4c4;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #f2f2f2;
  line-height: 28px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5%;
  padding-right: 5%;
}
.main__btnlinks a:hover {
  background: #333333;
  border: 1px solid #c4c4c4;
}
.main__btnlinks .firsta {
  padding-left: 10%;
  padding-right: 10%;
}
.main__btnlinks--img {
  margin-top: 151px;
  margin-left: 50%;
  margin-bottom: 53px;
}

.text {
  width: 95%;
  margin: 0 auto;
  display: flex;
  background-color: #f2f2f2;
  margin-bottom: 92px;
  padding: 37px 91px 20px 108px;
}
.text__container {
  margin-right: 20px;
}
.text__container h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #0e0e0e;
}
.text__container--line2 {
  display: flex;
  gap: 7px;
  margin-top: 7px;
}
.text__container .square {
  width: 20px;
  height: 20px;
  background-color: #0e0e0e;
}
.text__container h3 {
  font-family: "Roboto";
  font-font-style: normal;
  font-font-weight: 400;
  font-font-size: 28px;
  line-height: 33px;
  color: #0e0e0e;
  margin-bottom: 16px;
}
.text__container p {
  margin-left: 27px;
  margin-bottom: 42px;
  width: 90%;
  font-family: "Roboto";
  font-font-style: normal;
  font-font-weight: 300;
  font-font-size: 18px;
  line-height: 21px;
  color: #0e0e0e;
}

.price h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  margin-bottom: 18px;
  margin-left: 61px;
}
.price__container {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 56px;
  margin-left: 200px;
  margin-right: 175px;
  position: relative;
}
.price__container--first h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}
.price__container--first p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 53px;
  color: #333333;
  margin-top: 48px;
}
.price__container--first button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  padding: 35px 105px;
  margin-top: 155px;
}
.price__container--bottom {
  position: absolute;
  right: 606px;
  top: 120px;
}
.price__container--second {
  margin-top: 7px;
  position: relative;
}
.price__container--second .geometrical {
  position: relative;
}
.price__container--second .triangle {
  position: absolute;
  top: -7px;
  left: 375px;
}
.price__container--second .line2 {
  position: absolute;
  left: -76px;
}
.price__container--second .bottomtext {
  margin-top: 34px;
  margin-left: 77px;
}
.price__container--second h4 {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 147.19%;
  color: #000000;
}
.price__container--second .paragraph {
  display: flex;
  gap: 12px;
}
.price__container--second .paragraph__square {
  width: 25px;
  height: 20px;
  background-color: #0e0e0e;
  margin-top: 45px;
}
.price__container--second .paragraph p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 147.19%;
  color: #333333;
  margin-top: 27px;
}

/*# sourceMappingURL=style.css.map */
